<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>Polls</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap-theme.min.css' %}" />
	<script type="text/javascript" src="{% static 'polls/js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'polls/js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
	
</head>
<body>
	<header class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="{% url 'polls:index' %}" class="navbar-brand">Django Site</a>
			</div>
			<nav class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="{% url 'polls:index' %}">Polls</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{% url 'admin:index' %}">Admin</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	
	<div class="container" id="container-main">
		<div class="page-header">
			<h1>{% block head %}{% endblock %}</h1>
		</div>
		{% block content %}{% endblock %}
	</div>
	
	<footer class="footer">
		<div class="footer-container">
			<p class="text-muted">Copyright &copy; djDjango Development Team {% now "Y" %}</p>	
		</div>
	</footer>
</body>
</html>