{% extends "polls/base.html" %}

{% block head %}Polls{% endblock %}

{% block content %}
    {% if latest_question_list %}
        <div class="list-group">
        {% for question in latest_question_list %}
            <a class="list-group-item" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        {% endfor %}
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

	<input type="file" id="input" multiple />

	<canvas id="slideshow" width="500" height="300"></canvas>	

{% endblock %}