{% extends "polls/base.html" %}

{% block head %}Polls{% endblock %}

{% block content %}
    {% if latest_question_list %}
        <div class="list-group">
        {% for question in latest_question_list %}
            <a class="list-group-item" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        {% endfor %}
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
	<p id="counter_id">0</p>
	<form id="form_img">
        <input type='file' id="files" name="images[]" onchange="upload_img(this);" multiple size="5"/>
        <img id="img_1" src="#" alt="your image" width="400px" heigth="200px" />
		<img id="img_2" src="#" alt="your image" width="400px" heigth="200px" />

    </form>
	
	
	
	<!--<input type="file" id="files" name="files[]" multiple />-->

	

{% endblock %}