<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="timelineStylesheet.css">
</head>
<body>


  <div id="hlineLeft" class="hline"></div>
  <div id="hlineRight" class="hline"></div>

  <div class="round-button"><div class="round-button-circle" id="round-button-circle1"><a href="navbartest1.html" class="round-button">1</a></div></div>
  <div class="round-button"><div class="round-button-circle" id="round-button-circle2"><a href="navbartest2.html" class="round-button">2</a></div></div>
  <div class="round-button"><div class="round-button-circle" id="round-button-circle3"><a href="navbartest3.html" class="round-button">3</a></div></div>
  <div class="round-button"><div class="round-button-circle" id="round-button-circle4"><a href="navbartest4.html" class="round-button">4</a></div></div>
  <div class="round-button"><div class="round-button-circle currentPageOrange1" id="round-button-circle5"><a href="navbartest5.html" class="round-button">5</a></div></div>

</body>
</html>
