<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>DBT</title>
	{% load staticfiles %}

	<!--Behövs denna?-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/css/bootstrap.min.css' %}" />
	<script type="text/javascript" src="{% static 'dbtapp/js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/jquery-ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/animations.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/loadFinished.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/imageloader.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/preview.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/showimages.js' %}"></script>

	<!-- Google font -->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>

	<!-- CSS för base.html -->
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/styleBase.css' %}" />

	<!-- CSS för de olika stegen - VIKTIGT - skriv inte över styleBase.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/stylesheetSteps.css' %}" />

	<!-- CSS för tidslinjen-->
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/timelineStylesheet.css' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/style.css' %}" />

</head>

<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>

					<!-- Även denna ska scrollas rätt... kolla er på det..-->

					<!-- Här ska navigenringen till startsidan ändras men hur? -->
					<a class="navbar-brand" href="{% url 'dbtapp:index'%}">MillVid</a>
				</div>

				<div class="collapse navbar-collapse navbar-right" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="#">Logga in</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="step-content">
		<div class="container" id="container-main">
			<div class="page-header">
				{% block head %}{% endblock %}
			</div>
			{% block content %}{% endblock %}
			<!--Submitknapp (högerpil)-->

			<div class="container-fluid">
				<div class="row top-buffer">

					<div class="col-xs-6 col-sm-6 col-md-1 text-left">
						<!-- Härifrån ska man kunna ta sig bakåt i stegen. -->
						{% block leftNav %}{% endblock %}
						
					</div>

					<div class="col-md-10 text-center ">
						<!-- Tidslinje -->

						<div id="hlineLeft" class="hline"></div>
						<div id="hlineRight" class="hline"></div>

						<div class="round-button">
							<div class="round-button-circle" id="round-button-circle1">
								<a href="{% url 'dbtapp:videoNew'%}" class="round-button">1</a>
							</div>
						</div>

						<div class="round-button">
							<div class="round-button-circle" id="round-button-circle2">
								<a href="#" class="round-button">2</a>
							</div>
						</div>

						<div class="round-button">
							<div class="round-button-circle" id="round-button-circle3">
								<a href="#" class="round-button">3</a>
							</div>
						</div>
						
						<div class="round-button">
							<div class="round-button-circle" id="round-button-circle4">
								<a href="#" class="round-button">4</a>
							</div>
						</div>
						
						<div class="round-button">
							<div class="round-button-circle" id="round-button-circle5">
								<a href="#" class="round-button">5</a>
							</div>
						</div>

					</div>

					<div class="col-xs-6 col-sm-6 col-md-1 text-right">
						{% block rightNav %}{% endblock %}
						
						<!--<input type="submit" value="Nästa" />-->
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<section class="bgDark" id="contact">

		<div class="row">
			<div class="col-lg-12 text-center">
				<h5>Kontakta oss</h5>
				<p>Mailadress</p>
				<p>Telefonnummer</p>
				<p>Andra uppgifter som behövs</p>
			</div>
		</div>
	</section>
</body>
</html>
