<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>DBT</title>
	{% load staticfiles %}

	<!--Behövs denna?-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
	
	<link rel="stylesheet prefetch" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
	
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/css/bootstrap.min.css' %}" />
	<script type="text/javascript" src="{% static 'dbtapp/js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/jquery-ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/animations.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/loadFinished.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/imageloader.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/preview.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/showimages.js' %}"></script>
	

	<!-- Google font -->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>

	<!-- CSS för base.html -->
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/styleBase.css' %}" />

	<!-- CSS för de olika stegen - VIKTIGT - skriv inte över styleBase.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/stylesheetSteps.css' %}" />

	<!-- CSS för tidslinjen-->
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/timelineStylesheet.css' %}" />

	
	<script type="text/javascript" src="{% static 'dbtapp/js/WearProtection.js' %}"></script>
</head>

<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>

					<!-- Även denna ska scrollas rätt... kolla er på det..-->

					<!-- Här ska navigenringen till startsidan ändras men hur? -->
					<a class="navbar-brand" href="{% url 'dbtapp:index'%}">MillVid</a>
				</div>

				<div class="collapse navbar-collapse navbar-right" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="#">Logga in</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="step-content">
		<div class="container" id="container-main">
			<div class="page-header">
				<div class="content" id="header">
				  	<div class="row">
						<div class="col-md-1 col-md-offset-3 text-right">
				    		 <h1 id="head-number">{% block headerNumber %}{% endblock %}</h1>
				    	</div>
				    	<div class="col-md-5 text-left">
				   			 <h2 id="description"> {% block headerText %}{% endblock %}</h2>
					   </div>
					</div>
				</div>
			</div>
			{% block content %}{% endblock %}
			<!--Submitknapp (högerpil)-->

			{% block navigation %}{% endblock %}
			
		</div>
	</section>
	<section class="bgDark" id="contact">

		<div class="row">
			<div class="col-lg-12 text-center">
				<h5>Kontakta oss</h5>
				<p>Mailadress</p>
				<p>Telefonnummer</p>
				<p>Andra uppgifter som behövs</p>
			</div>
		</div>
	</section>
</body>
</html>
