{% extends "dbtapp/base.html" %}


{% block head %}LAVG{% endblock %}

{% block content %}
<!--
    {% if latest_question_list %}
        <div class="list-group">
        {% for question in latest_question_list %}
            <a class="list-group-item" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        {% endfor %}
        </div>
    {% else %}	
        <p>No polls are available.</p>
    {% endif %}
-->
	<div style="position:relative; width: 100px; height:100px;">
		<span id="addFile">+</span>
		<input type="file" id="input" multiple />
	</div>
	
	<a href="#preview" class="btn btn-default">Preview</a>

	<div id="preview" class="modalDialog">
		<div>
			<a href="#" title="Close" class="close">X</a>
			<ul id="slideshow"></ul>
			<button id="start-button" type="button">Start</button>
		</div>
	</div>
	
	<ul id="images"><br />Dina bilder:<br /></ul>
	

{% endblock %}