{% extends "dbtapp/base.html" %}
{% load staticfiles %}
	
{% block head %}
	LAVG
	<a id="show-preview-button" href="#preview" class="btn btn-default">Preview</a>

{% endblock %}

{% block content %}
Logo: <input id="input-logo" type="file" />
	<ul id="images">
		<div id="addFileWrapper">
			<img id="addFile" src="{% static 'dbtapp/img/plus-sign.jpg'%}" alt="Lägg till bild"/>
			<input id="input" type="file" multiple />
		</div>
	</ul>

	<div id="preview" class="modalDialog">
		<ul id="slideshow">
			<a href="#" title="Close" class="close">X</a>
		</ul>
	</div>
{% endblock %}
