{% extends "dbtapp/base.html" %}

{% block head %}
<!--Stegnummer och beskrivning-->
<div class="content" id="header">

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-1 col-md-offset-2 text-center">
			<h1>1</h1>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 text-left">
			<h2 id="description"> Börja med att namnge din film och skriv in förstagsnamnet. <span class="glyphicon glyphicon-question-sign sign" aria-hidden="true"></span></h2> 
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<form action="{% url 'dbtapp:videoNew' %}" method="post" enctype="multipart/form-data" id ="form">
	{% csrf_token %}

	<!--Formuläret-->
	<div class="row" id="content">
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
			{% load widget_tweaks %}

			<label class="control-label" for="focusedInput"><h3>Namn på video:</h3></label>
			<p> 
				{% render_field form.video_name class+="form-control" tabindex=1 %}
				{{ form.video_name.errors}}
			</p>

			<label class="control-label" for="focusedInput"><h3>Företagsnamn:</h3></label>
			<p>
				{% render_field form.company_name class+="form-control" tabindex=2 %}
				{{ form.company_name.errors }}
			</p>
		</div>
	</div>

	<!--Submitknapp (pil)-->
	<div class="container-fluid">
		<div class="row  top-buffer">

			<div class="col-xs-6 col-sm-6 col-md-1 text-left">
				<!-- Härifrån ska man kunna ta sig bakåt i stegen. -->
				<a href="{% url 'dbtapp:index'%}" id="navigationArrow" class="glyphicon glyphicon-menu-left" aria-hidden="true" tabindex=4></a>
			</div>

			<div class="col-md-10 text-center ">
					<div id="hlineLeft" class="hline"></div>
					<div id="hlineRight" class="hline"></div>

					<div class="round-button"><div class="round-button-circle currentPageOrange1" id="round-button-circle1"><a href="{% url 'dbtapp:videoNew'%}" class="round-button">1</a></div></div>
					<div class="round-button"><div class="round-button-circle" id="round-button-circle2"><a href="#" class="round-button">2</a></div></div>
					<div class="round-button"><div class="round-button-circle" id="round-button-circle3"><a href="#" class="round-button">3</a></div></div>
					<div class="round-button"><div class="round-button-circle" id="round-button-circle4"><a href="#" class="round-button">4</a></div></div>
					<div class="round-button"><div class="round-button-circle" id="round-button-circle5"><a href="#" class="round-button">5</a></div></div>
			</div>
			
			<div class="col-xs-6 col-sm-6 col-md-1 text-right">
				<a id="navigationArrow" class="glyphicon glyphicon-menu-right" aria-hidden="true" tabindex=3 ></a>

				<!--<input type="submit" value="Nästa" />-->
			</div>
		</div>
	</div>
</form>

<script>
	$('a.glyphicon').click(function(){ 
		$('#form').submit()
	});
	$('a.glyphicon').keypress(function (e) {
		if (e.which == 13) {
			$('#form').submit();
		}
	});
</script>
{% endblock %}
