{% extends "dbtapp/base.html" %}
{% load staticfiles %}
{% block head %}
<!--Stegnummer och beskrivning-->
<div class="content" id="header">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-1 col-md-offset-2 text-center">
			<h1>2</h1>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 text-left">
			<h2 id="description"> Ladda upp 1-3 bilder på när produkten används. <span class="glyphicon glyphicon-question-sign sign" aria-hidden="true"></span></h2>
		</div>
	</div>
</div>

<script>
//var companyName = {{video.name}};
var postURL = "{% url 'dbtapp:videoEdit' video.pk %}";
var postLogoURL = "{% url 'dbtapp:logoPost' video.pk %}"
</script>

<script type="text/javascript" src="{% static 'dbtapp/js/WearProtection.js' %}"></script>
{% endblock %}

{% block content %}



<!-- Hanna ska fixa flacering av knappen -->

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 text-left">
		<a id="preview-button" href="#preview" class="btn btn-primary">Preview</a>
	</div>
</div>




<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 text-left">
		<!-- Ladda upp logga -->
		<!--
		<div id="logo-box">
			<img id="logo-img" src="{{ logo.photoFile.url }}">
			<p><b>Choose a logo:</b></p>
			<form id="logo-form" action="{% url 'dbtapp:logoPost' video.pk %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<p>{{ logoForm.photoFile }}</p>
			</form>
		</div>
		-->
		<div class="spacing"></div>
		<!-- Bildserie -->
		<ul id="images" class="list-group row">
			{% if images %}
			{% for image in images %}
			<li rel="{{ image.pk }}" class="list-group-item col-xs-1">
				<div class="image-wrapper">
					<img src="{{ image.photoFile.url }}" rel="{{ image.order }}">
				</div>
			</li>
			{% endfor %}
			{% endif %}
			<!-- Ladda upp bild-->
			<div id="addFileWrapper" >
				<span class="glyphicon glyphicon-plus"></span>
				<form action="{% url 'dbtapp:videoEdit' video.pk %}" class="form-class clearfix" method="post" enctype="multipart/form-data">		
					{% csrf_token %}
					{{ form.photoFile }}
				</form>
			</div>
		</ul>

		<!-- Preview-knapp -->
		<div id="preview" class="modalDialog">

			<div id="slideshow-container">
				<a id="closeButton" href="#" title="Close">X</a>
				
				<ul id="slideshow">			
					<li>
						<img src="http://d20tdhwx2i89n1.cloudfront.net/image/upload/t_next_gen_article_large_940/gcufqu3gsksc64ejuhul.jpg" />
						<!--
						<p id="video-text">iPhone<p>
						<p id="company-text">Apple<p>
						-->
					</li>
					{% if images %}
						{% for image in images %}
							<li rel="{{ image.pk }}">
								<img src="{{ image.photoFile.url }}" rel="{{ image.order }}">
							</li>
						{% endfor %}
					{% endif %}
					<li>
						<img src="http://d20tdhwx2i89n1.cloudfront.net/image/upload/t_next_gen_article_large_940/gcufqu3gsksc64ejuhul.jpg" />
						<!--
						<p id="video-text">Slutbildstext<p>
						<p id="contact-text">mail till codemill<p>
						-->
					</li>
				</ul>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row top-buffer">

				<div class="col-xs-6 col-sm-6 col-md-1 text-left">
					<!-- Härifrån ska man kunna ta sig bakåt i stegen. -->
					<a href="{% url 'dbtapp:videoNew'%}"><span id="navigationArrow" tabindex=3 class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
				</div>

				<div class="col-md-10 text-center ">
					<!-- Tidslinje -->

					<div id="hlineLeft" class="hline"></div>
					<div id="hlineRight" class="hline"></div>

					<div class="round-button">
						<div class="round-button-circle" id="round-button-circle1">
							<a href="{% url 'dbtapp:videoNew'%}" class="round-button">1</a>
						</div>
					</div>

					<div class="round-button">
						<div class="round-button-circle currentPagePink" id="round-button-circle2">
							<a href="#" class="round-button">2</a>
						</div>
					</div>

					<div class="round-button">
						<div class="round-button-circle" id="round-button-circle3">
							<a href="#" class="round-button">3</a>
						</div>
					</div>
					
					<div class="round-button">
						<div class="round-button-circle" id="round-button-circle4">
							<a href="#" class="round-button">4</a>
						</div>
					</div>
					
					<div class="round-button">
						<div class="round-button-circle" id="round-button-circle5">
							<a href="#" class="round-button">5</a>
						</div>
					</div>

				</div>

				<div class="col-xs-6 col-sm-6 col-md-1 text-right">
					<a id="navigationArrow" class="glyphicon glyphicon-menu-right" tabindex=2 aria-hidden="true"></a>
					<!--<input type="submit" value="Nästa" />-->
				</div>
				
			</div>
		</div>
	</div>
</div>

	<!--Static animation-->
	<!--<div id="videoCont">
		<div id="lay1" class="videoLayer"></div>
		<div id="lay2" class="videoLayer"></div>
		<div id="lay3" class="videoLayer"></div>
	</div>-->
{% endblock %}

