{% extends "dbtapp/stepBase.html" %}
{% load staticfiles %}

{% block headerNumber %}
5
{% endblock %}

{% block headerText %}
Utvecklingsmiljö
<span class="glyphicon glyphicon-question-sign sign" aria-hidden="true"></span>
{% endblock %}

{% block content %}
<!-- Hanna ska fixa flacering av knappen -->

	
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 text-left">
        <a id="preview-button" href="#preview" class="btn btn-primary">Preview</a>
    </div>
</div>

	<div id="slideshow-container">
		<a id="closeButton" href="#" title="Close">X</a>
		<ul id="slideshow">			
			<li>
				<div class="slideshow-parent" style="position:relative; background-color:#fff;  width:100%; height:100%;">
					<h1 id="video-text">{{video.video_name}}</h1>
					<h3 id="company-text">{{video.company_name}}</h3>
				</div>
				
			</li>
				{% if images %}
					{% for image in images %}
						<li rel="{{ image.pk }}">
							<div class="slideshow-parent" style="position:relative; background-color:#fff;  width:100%; height:100%;">
								<img src="{{ image.photoFile.url }}" rel="{{ image.order }}" style="position:absolute;">
							</div>
						</li>
					{% endfor %}
				{% endif %}
			<li>
				<div class="slideshow-parent" style="position:relative; background-color:#fff; width:100%; height:100%;">
					<p id="video-text">Slutbildstext</p>
					<p id="contact-text">mail till codemill</p>
				</div>
			</li>
		</ul>
		<div id="controls">
			<div id="sliderWrapper">
				<div id="slider"></div>
				
				<button id="pause" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pause"></span></button>

			</div>
		</div>
	</div>	

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 text-left">
			<!-- Ladda upp logga -->
			<!--
			<div id="logo-box">
				<img id="logo-img" src="{{ logo.photoFile.url }}">
				<p><b>Choose a logo:</b></p>
				<form id="logo-form" action="{% url 'dbtapp:logoPost' video.pk %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<p>{{ logoForm.photoFile }}</p>
				</form>
			</div>

			-->
			<div class="spacing"></div>
			<!-- Bildserie -->
			<ul id="images" class="list-group row">
				{% if images %}
				{% for image in images %}
				<li rel="{{ image.pk }}" class="list-group-item col-xs-1">
					<div class="image-wrapper">
						<img src="{{ image.photoFile.url }}" rel="{{ image.order }}">
					</div>
				</li>
				{% endfor %}
				{% endif %}
				<!-- Ladda upp bild-->
				<div id="addFileWrapper" >
					<span class="glyphicon glyphicon-plus"></span>
					<form action="{% url 'dbtapp:videoEdit' video.pk %}" class="form-class clearfix" method="post" enctype="multipart/form-data">		
						{% csrf_token %}
						{{ form.photoFile }}
					</form>
				</div>
			</ul>
		</div>
	</div>
			
	
{% endblock %}


{% block leftNav %}
<a href="{% url 'dbtapp:videoStep' video.pk 3%}"><span id="navigationArrow" tabindex=3 class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
{% endblock %}

{% block rightNav %}
<a href="#"><span id="navigationArrow" tabindex=3 class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
{% endblock %}

