{% extends "dbtapp/stepBase.html" %}

{% block headerNumber %}
<div style="background-color: #EC6568" class="round-button-circle-Large round-button-Large"> <h1>2</h1> </div>
{% endblock %}

{% block headerText %}
Ladda upp 1-4 bilder på när produkten används. <span class="glyphicon glyphicon-question-sign sign" aria-hidden="true"></span>
{% endblock %}

{% block leftNav %}
	<a href="{% url 'dbtapp:videoUpdate' video.pk %}">
		<span id="navigationArrow" tabindex=3 class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</a>
{% endblock %}

{% block rightNav %}
	<a href="{% url 'dbtapp:videoStep' video.pk 2 %}">
		<span id="navigationArrow" tabindex=3 class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	</a>
{% endblock %}


