{% extends "dbtapp/stepBase.html" %}
    
{% block headerNumber %}
3
{% endblock %}

{% block headerText %}
Ladda upp 1-4 bilder som illustrerar produktens funktioner.
{% endblock %}

{% block leftNav %}
	<a href="{% url 'dbtapp:videoStep' video.pk 1 %}">
		<span id="navigationArrow" tabindex=3 class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</a>
{% endblock %}

{% block rightNav %}
	<a href="{% url 'dbtapp:videoStep' video.pk 3 %}">
		<span id="navigationArrow" tabindex=3 class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	</a>
{% endblock %}