{% extends "dbtapp/stepBase.html" %}

{% block headerNumber %}
<div style="background-color: #FFCC00" class="round-button-circle-Large round-button-Large"> <h1>4</h1> </div>
{% endblock %}
 
{% block headerText %}
Ladda upp en sista finalbild. <span class="glyphicon glyphicon-question-sign sign" aria-hidden="true"></span>
{% endblock %}

{% block leftNav %}
	<a href="{% url 'dbtapp:videoStep' video.pk 2 %}">
		<span id="navigationArrow" tabindex=3 class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
	</a>
{% endblock %}

{% block rightNav %}
	<a href="{% url 'dbtapp:videoEdit' video.pk %}">
		<span id="navigationArrow" tabindex=3 class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
	</a>
{% endblock %}
