{% extends "dbtapp/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 text-left">
        <a id="preview-button" href="#preview" class="btn btn-primary">Preview</a>
    </div>
</div>


<!-- Bildserie -->
<div class="row">
    <div class="col-md-12">
        <ul id="images" class="list-group">
            {% if images %}
            {% for image in images %}
            <li rel="{{ image.pk }}" class="col-xs-1 list-type-{{image.instance.photoType}}">
                <div class="image-wrapper">
                    <img class="image" src="{{ image.instance.photoFile.url }}" rel="{{ image.instance.order }}">
                </div>
                <div class="settings">
                    <div class="settings-header background-type-{{image.instance.photoType}}">
                        <p>Settings</p>
                    </div>
                    <div class="settings-content">
                        <p>I'm sorry..</p>
                        <p>There are currently no settings implemented.</p>
                        <p>All you can do here is to remove this picture.</p>
                        <div>
                            <a class="btn btn-default" href="{% url 'dbtapp:photoRemove' video.pk imgtype image.instance.pk %}">Remove</a>
                            <button class="btn btn-default" onclick="" >Save</button>
                        </div>
                    </div>
                </div>
                <div class="image-text-content"> 
                    <form action="{% url 'dbtapp:videoStep' video.pk imgtype %}" class="form-class" method="post" enctype="multipart/form-data">       
                        {% csrf_token %}
                        {% load widget_tweaks %}
                        <p>Enter description here:</p>
                        {{ image.description }}
                    </form>
                </div>
                <!-- close settings -->
                <a class="close-btn-settings" href="#" title="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </li>
            {% endfor %}
            {% endif %}

            <!-- Ladda upp bild -->
            <div id="addFileWrapper" >
                <span class="glyphicon glyphicon-plus"></span>
                <form action="{% url 'dbtapp:videoStep' video.pk imgtype %}" class="form-class clearfix" method="post" enctype="multipart/form-data">       
                    {% csrf_token %}
                    {{ form.photoFile }}
                </form>
            </div>
        </ul>

    </div>
</div>

<div id="preview" class="modalDialog">
            
    <div id="slideshow-container">

        <!-- ändra här för kryss i preview på alla steg -->
        <a id="closeButton" href="#" title="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        <ul id="slideshow">         
            <li>
                <div class="slideshow-parent">
                    <h1 id="video-text">{{video.video_name}}</h1>
                    <h3 id="company-text">{{video.company_name}}</h3>
                    
                </div>
                
            </li>
            {% if images %}
                {% for image in images %}
                    <li rel="{{ image.instance.pk }}">
                        <div class="slideshow-parent">
                            <img src="{{ image.instance.photoFile.url }}" rel="{{ image.instance.order }}" style="position:absolute;">
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
            <li>
                <div class="slideshow-parent">
                    <p id="video-text">Slutbildstext</p>
                    <p id="contact-text">mail till codemill</p>
                </div>
            </li>
        </ul>
        <div id="controls">
            <div id="sliderWrapper">
                <div id="slider"></div>
                
                <button id="pause" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pause"></span></button>

            </div>
        </div> 
    </div>
</div>

<script>
    //var companyName = {{video.name}};
    var postURL = "{% url 'dbtapp:videoEdit' video.pk %}";
    var postLogoURL = "{% url 'dbtapp:logoPost' video.pk %}"
</script>

{% endblock %}

{% block navigation %}
<div class="spacing"></div>
<div class="row">

    <div class="col-xs-6 col-sm-6 col-md-1 text-left">
        <!-- Härifrån ska man kunna ta sig bakåt i stegen. -->
        {% block leftNav %}{% endblock %}
    </div>

    <div class="col-md-10 text-center ">
      
        <!-- Tidslinje -->
        <div id="hlineLeft" class="hline"></div>
        <div id="hlineRight" class="hline"></div>

        <div class="round-button">
            <div class="round-button-circle" id="round-button-circle1">
                <a href="{% url 'dbtapp:videoUpdate'%}" class="round-button">1</a>
            </div>
        </div>

        <div class="round-button">
            <div class="round-button-circle" id="round-button-circle2">
                <a href="#" class="round-button">2</a>
            </div>
        </div>

        <div class="round-button">
            <div class="round-button-circle" id="round-button-circle3">
                <a href="#" class="round-button">3</a>
            </div>
        </div>
        
        <div class="round-button">
            <div class="round-button-circle" id="round-button-circle4">
                <a href="#" class="round-button">4</a>
            </div>
        </div>
        
        <div class="round-button">
            <div class="round-button-circle" id="round-button-circle5">
                <a href="#" class="round-button">5</a>
            </div>
        </div>

    </div>

    <div class="col-xs-6 col-sm-6 col-md-1 text-right">
        {% block rightNav %}
        {% endblock %}
        
        <!--<input type="submit" value="Nästa" />-->
    </div>
</div>
{% endblock %}