{% extends "dbtapp/base.html" %}
{% load staticfiles %}
<!--
{% block head %}
<div class="content" id="header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-2 text-left">
            <h1>Bibliotek</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-left">
            <h2 id="description"> Här kan du se alla dina tidigare filmer. Klicka på en film för att fortsätta redigera.</h2> 
        </div>

    </div>
    <div class="spacing"></div>
</div>
{% endblock %}
-->

{% block headerNumber %}
Videobibliotek
{% endblock %}

{% block content %}

{% if video_list %}  
<div class="list-group clearfix"> 
    {% for video in video_list %}
    <div class="row spacing-list-group-item">
        <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-2 text-left">
            <a class="list-group-item" href="{% url 'dbtapp:videoUpdate' video.pk %}">{{ video.video_name }} - {{ video.company_name }} </a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'dbtapp:videoRemove' video.pk %}" class="btn btn-primary delete"><span class="glyphicon glyphicon-trash" id="hover-white" aria-hidden="true"></span></a>
			{% if video.video_url %}
			<a href={{ video.video_url }} class="btn btn-primary download"><span class="glyphicon glyphicon-save" id="hover-white" aria-hidden="true"></span></a>
			{% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="row spacing-list-group-item">
        <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-2 text-left">
            <h3>No videos are available.</h3>
    </div>
</div>

{% endif %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-2 text-left">
        <div class="spacing"></div>
        <a href="{% url 'dbtapp:videoUpdate' %}" class="btn btn-primary">Börja skapa film!</a>
    </div>
</div>
{% endblock %}
