{% extends "dbtapp/stepBase.html" %}

{% block headerNumber %}
<div style="background-color: #FF9900" class="round-button-circle-Large round-button-Large"> <h1>1</h1> </div>
{% endblock %}

{% block headerText %}
Börja med att namnge din film och skriv in företagsnamnet. 
<span class="glyphicon glyphicon-question-sign sign" aria-hidden="true"></span>
{% endblock %}

{% block content %}
{% if videoKey != None %}
<form action="{% url 'dbtapp:videoUpdate' videoKey %}" method="post" enctype="multipart/form-data" id ="form">
{% else %}
<form action="{% url 'dbtapp:videoUpdate' %}" method="post" enctype="multipart/form-data" id ="form">
{% endif %}
	{% csrf_token %}

	<!--Formuläret-->
	<div class="row" id="content">
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
			{% load widget_tweaks %}

			<label class="control-label" for="focusedInput"><h3>Namn på video:</h3></label>
			<p> 
				{% render_field form.video_name class+="form-control" tabindex=1 %}
				{{ form.video_name.errors }}
			</p>

			<label class="control-label" for="focusedInput"><h3>Företagsnamn:</h3></label>
			<p>
				{% render_field form.company_name class+="form-control" tabindex=2 %}
				{{ form.video_name.errors }}
			</p>
		</div>
	</div>
</form>
{% endblock %}


{% block leftNav %}
<a href="{% url 'dbtapp:index' %}"><span id="navigationArrow" tabindex=4 class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
{% endblock %}

{% block rightNav %}
<a><span id="submitButton" tabindex=3 class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>

<script>
	$('#submitButton').click(function(){ 
		$('#form').submit();
	});
	$('#submitButton').keypress(function (e) {
		if (e.which == 13) {
			$('#form').submit();
		}
	});
</script>
{% endblock %}
