<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>DBT</title>
	{% load staticfiles %}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
	
	<link rel="stylesheet prefetch" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
	
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/css/bootstrap.min.css' %}" />
	<script type="text/javascript" src="{% static 'dbtapp/js/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/jquery-ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/animations.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/loadFinished.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/imageloader.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/runSlideShow.js' %}"></script>
	<script type="text/javascript" src="{% static 'dbtapp/js/previewAutoStart.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'dbtapp/js/showimages.js' %}"></script>
	
	<!-- Google font -->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Indie+Flower|Pacifico|Amatic+SC|Rochester|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

	<!-- base.html -->
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/styleBase.css' %}" />

	<!-- styleBase.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/stylesheetSteps.css' %}" />

	<!-- tidslinjen-->
	<link rel="stylesheet" type="text/css" href="{% static 'dbtapp/timelineStylesheet.css' %}" />

	<!-- -->
	<script type="text/javascript" src="{% static 'dbtapp/js/color/colpick.js' %}"></script>
	<!-- -->
	
	<script type="text/javascript" src="{% static 'dbtapp/js/WearProtection.js' %}"></script>
</head>

<body>
	<div id="slideshow-container-render">
		{% include 'dbtapp/_videoPartial.html' %}
	</div>
</body>