h2{
  margin-bottom: 30px;
}

html,
body {
	background-color: #fff;
  height: 100%;
  width: 100%;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

nav.navbar.navbar-default{
  margin-bottom: 0px;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0px;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #FF9900;
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #ffffff;
  background-color: transparent;
}



header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-image: url(../../static/dbtapp/img/background.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover; 
  background-size: cover;
  -o-background-size: cover;
  display: block;
}

header .big-header{
  position: relative;
  width: 100%;    
  padding: 100px 15px;
  text-align: center;
  font-size: 90px;
}
header .big-header h1{
  font-size: 60px;
}  
.smallHeader{
  text-transform: uppercase;
}

@media (min-width: 768px){
  header {
  min-height: 100%;
  }
}

.btn{
  border-radius: 5px;
}

.btn-primary {
  color: #ffffff;
  background-color: #FF9900;
  border-color: #FF9900;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #ED712C;
  border-color: #ED712C;
}

section {
  padding: 100px 0;
  display: block;
}

.bgOrange{
  background-color: #FF9900;
  color: #fff;
}

.bgDark{
  background-color: #2B2B2B;
}


#about{
  background-color: #FF9900;
}

#inspiration{

}

#contact{

}

.icon{
  font-size: 50px;
  color: #FF9900;
  margin-top: 21px;
}


