/*
CSS för de olika stegen - VIKTIGT - skriv inte över styleBase.css
/ Hanna
*/


#circle	{
	background-color:red;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	position: relative;
	z-index: -1;
}

#divider {
	background-color: #FF9900;
    padding-top: 3%;
}

/*
#stepNumber {
	font-size: 125%;
	vertical-align: middle;
	padding:0;
	margin:0 auto;
}*/


#description {
	display: inline-block;
	padding:0;
	margin:0 auto;
	line-height: auto;
	vertical-align: middle;
}

.control-label	{
	font-size: 140%;
}

.top-buffer {
 	padding-top:11%;
 	padding-bottom:0;
 	margin: 0 auto;
}

.spacing{
	height: 40px;
}

/*Ändrar upplysningsfärg på formuläret*/
.form-control:focus {
    border-color: #FF9900 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 153, 0, 1),0 0 8px rgba(255, 153, 0, 1) !important;
    box-shadow: inset 0 1px 1px rgba(255, 153, 0, 1),0 0 8px rgba(255, 153, 0, 1) !important;
}

.glyphicon-menu-right, .glyphicon-menu-left	{
	font-size: 4em;
}

.glyphicon{
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
	transition:.3s;
}

.glyphicon:hover, .glyphicon:focus {
  	color:  #FF9900;
  	cursor:pointer !important;
  	cursor:hand !important;
  }

/* Koden från filen style.css */
html {
   height: 100%;
}

body {
	min-height:100%;
	position:relative;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

#container-main {
	padding-bottom: 10px;
}

.input-group {
	margin-bottom: 10px;
}

#slideshow-container{
	width: 800px;
	height: 480px;
	margin: 50px auto;
	position: relative;
}

#slideshow{
    background-color:#F5F5F5;
    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;
    width: 100%;
    height: 100%;
    position: relative;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
}

#slideshow li {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#images li:hover {
	-moz-box-shadow:0 2px 2px 2px #A5A5A5;
    -webkit-box-shadow:0 2px 2px 2px #A5A5A5;
    box-shadow: 0px 2px 2px 2px #A5A5A5;
    cursor:pointer !important;
}

.list-type-1 {
	border-top: 10px solid #EC6568;
}
.list-type-2 {
	border-top: 10px solid #ED712C;
}
.list-type-3 {
	border-top: 10px solid #FFCC00;
}

.settings-header {
	height: 15%; 
	padding: 10px;
}

.settings-header p{
	font-size: 20px;
	color: #fff;
}

.settings-content {
	padding: 10px;
	height: 85%;
	position: relative;
}

.settings-content div {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	float: center;
}

.settings-content div a{ 
	width: 48%;
}

.settings-content div button{
	width: 48%;
} 

.background-type-1 {
	background-color: #EC6568;
}
.background-type-2 {
	background-color: #ED712C;
}
.background-type-3 {
	background-color: #FFCC00;
}

#images li {
	display:inline-block;
	list-style-type: none;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 100px;
	padding:0px;
	position: relative;

}


.close-btn-settings {
	color: black;
	position:absolute;
	right:-15px;
	top:-15px;
	z-index: 10;
	opacity: 1;
	padding:2px 8px;	
	border:2px solid black;
	border-radius: 15px 15px;
	background:white;
	display: none;
}

.image-wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #fff;
}

.settings {
	/*padding: 20px 10px;*/
	/*box-shadow: 3px 5px 25px 1px #555;*/
	background-color: #fff;
	width: 0%;
	height: 100%;
	position:absolute;
	top:0;
	right:0;
	z-index:10;
	/*display: none;*/
	overflow: hidden;
}

.image-text-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 70%;
	height: 0%;
	padding: 10px;
	overflow: hidden;
	display: none;
	background-color: #fff;
}

.image-text-content form {
	position: relative;
	height: 100%;
	width: 100%;
}

.image-text-content form input{
	width: 100%;
	padding-left: 10px;
	left: 0;
	bottom: 0;
	position: absolute;
}


/*Vad gör denna?*/
#images li .image-wrapper img {
	position: absolute;
}

#addFileWrapper {
	display:inline-block;
	position:relative;
	width: 100px; 
	height: 100px; 
	background-color: #FF9900;  /* Ska ändras beroende på sida.....
	*/ 
}

/*Används denna?*/
#addFileWrapper:hover {
  	color: #FF9900;
  	background-color: #ED712C;
}


/*Olika klasser för att sätta färg mha javascript i filen imageloader.js */
.currentPageTwo{
   background: #ED712C;
  }

  .currentPageThree {
   background: #EC6568;
  }

  .currentPageFour {
   background: #FFCC00;
}

#input {
	position:absolute; 
	float:left;
	z-index: 2; 
	opacity: 0;
	width: 100%;
	height:100%;
	cursor:pointer !important;
  	cursor:hand !important;
}

#input:hover {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

#preview-button{
	position:relative;
	float:right;
}

/* Modal preview window */

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

#closeButton {
	color: black;
	position:absolute;
	right:-20px;
	top:-20px;
	opacity: 1;
	z-index: 99999;
	padding:7px 10px;	
	border:2px solid black;
	border-radius: 30px 30px;
	background:white;
}

#logo-image {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 99999;
	width: 50px;
}

#logo-box {
	padding: 20px 10px;
}

#logo-img {
	width: 70px;
}

#videoCont{
	width: 800px;
	height: 480px;
	background-color: rgba(240, 240, 240, 1);
	position: relative;
	
}

.videoLayer{	
	width: 800px;
	heigth: 480px;
}

#lay1{
	z-index: 1;
	height: 480px;
	position: absolute;
	top: 0px;
}

#lay2{
	z-index: 2;
	height: 480px;
	position: absolute;
	top: 0px;
}

#lay3{
	z-index: 3;
	height: 480px;
	position: absolute;
	top: 0px;
}

.glyphicon-plus	{
	color: #FFFFFF;
	font-size: 300% !important; 
	position:absolute;
	margin:0;
	margin-top: 29%;
	margin-left: 32%;
}

.glyphicon-plus:hover	{
	color: #FF9900 !important;
}

a {
	color: #454545;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.navigationArrow {
	color: #454545 !important;
}

.sign{
	font-size: 20px;
	color: #222;
}

.errorlist {
	list-style: none;
	color: #EC6568;
	padding: 0;	
}

/*Knappen default */

.btn{
	border-radius: 5px;
  	line-height: 1.7;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 19px;
}

.delete{
	line-height: 1;
}

.btn-primary {
  color: #ffffff;
  background-color: #FF9900;
  border-color: #FF9900;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, 
.btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #ED712C;
  border-color: #ED712C;
}

.spacing-list-group-item{
	margin-bottom: 10px;
}

.list-group-item{
	height: 40px;
	border-style: none;
}

#controls {
	width: 800px;
	background-color: rgba(255, 255, 255, 0);
	opacity: 0;
}
#pause{
	margin:1% 45%;
	outline: 0;
}
#sliderWrapper{
	width: 800px;
	margin:-2% auto;
	padding-top:0.5%;
}
#slider{
  width: 800px;
  margin:2% auto;
  height: 2px;
  background-color: #ED712C !important;
  background: #ED712C;
}
#slider span{
	background-color: #ED712C;
}
.ui-slider-horizontal .ui-state-default {
	background: #ED712C;
	text-decoration: none;
	/*background: white url(http://stackoverflow.com/content/img/so/vote-arrow-down.png) no-repeat scroll 50% 50%;}*/
}
.ui-slider-horizontal {
	background: #ED712C;
	text-decoration: none;
}


/*Nytt för steg 5*/
#playVideo{
	width: 300px;
	height: 250px;
	background-color:gray;
}


a.list-group-item{
	font-size: 18px;
}


@media (max-width: 768px){
  #timeline	{
  	display:none;
  }
}
