html {
   height: 100%;
}

body {
	min-height:100%;
	position:relative;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

#container-main {
	padding-bottom: 100px;
}

footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-bottom: 0px;
	box-sizing: border-box;
	width: 100%;
	height: 80px;
	text-align: center;
}

.footer-container {
	height: 100%;
	background-color: #f5f5f5;
	
	
}
.footer-container p{
	line-height: 80px;
	margin: 0px;
}

.input-group {
	margin-bottom: 10px;
}

#slideshow{
    background-color:#F5F5F5;
    margin:50px auto;
    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;
    width: 800px;
    height: 480px;
    position: relative;
    list-style-type: none;
    padding: 0px;
}

#slideshow li {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

#slideshow li canvas {
	width: 100%;
	height: 100%;
}

#images {
}

#images li {
	display:inline-block;
	list-style-type: none;
	margin-right: 10px;
	margin-bottom: 10px;
	float:left;
}

#addFileWrapper {
	display:inline-block;
	position:relative; 
	width: 100px; 
	height: 100px; 
	margin-top:50px;
	margin-bottom:60px;
	margin-left:51px;
	margin-right:60px;
}

#input {
	position:absolute; 
	float:left;
	z-index: 2; 
	opacity: 0;
	width: 100%;
	height:100%;
}

#addFile {
	position:absolute;
	font-size: 150px; 
	width: 100%;
	height: 100%;
	text-align: center;
}

#input:hover {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

#show-preview-button{
	position:relative;
	float:right;
}

/* Modal preview window */

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 90%;
	position: relative;
	margin: auto;
	padding: 5px 20px 13px 20px;
	/*
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	*/
}

.close {
	position:absolute;
	right:-20px;
	top:-20px;
	opacity: 1;
	z-index: 99999;
	padding:7px 10px;	
	border:2px solid black;
	border-radius: 30px 30px;
	background:white;
}






