/*


Stylesheet som Base.html och alla de olika stegen anv채nder sig av.


*/

h1	{
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight: 700;
	font-size: 80px;
  margin-top: 0px;
}



h2{
  margin-bottom: 30px;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: 400;
}

h3	{
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight: 300;
}

h5{
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: 300;
  font-size: 19px;
}

html,
body {
	background-color: #fff;
  height: 100%;
  width: 100%;
}

body {
    font-family: 'Open sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
}

nav.navbar.navbar-default{
  margin-bottom: 0px;
  border:none !important;
  font-size: 16px;
}

#brand{
  font-family: 'Rochester', cursive;
  font-size: 2em;
  color: #FFCC00;
}

/*Tar bort prickade linjen runt l채nkar n채r man klickar*/
a:hover, a:active, a:focus {
  outline: 0;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0px;
  background-color: #2B2B2B;
}

.navbar-default .navbar-nav>li>a {
  color: #FF9900;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  color: #fff;
  background-color: transparent;
}

.bgDark{
  background-color: #2B2B2B;
  color: #fff;
  padding: 100px 0px;
  overflow: hidden;
}

.step-content {
  padding: 10px 0;
  display: block;
}

table{
  font-size: 15px;
}

#mail{
  color: #fff;
}

#mail:hover, #mail:focus{
  color: #FF9900;
  text-decoration: none;
}

/*markeringsf채rg*/

::selection {
  background-color: #FFCC00;
  color: #fff;
}

::-moz-selection {
  background-color: #FFCC00;
  color: #fff;
}
 
::-o-selection {
  background-color: #FFCC00;
  color: #fff;
}
   
::-ms-selection {
  background-color: #FFCC00;
  color: #fff;
}

::-webkit-selection {
  background-color: #FFCC00;
  color: #fff;
}




