  /*Stilmall för tidslinjen*/
  .round-button {
    width:25px;
  }

  /*"grund" klassen för cirklarna s*/
  .round-button-circle{
    position: absolute; 
    width: 45px;
    height:0;
    padding-bottom: 45px;
    border-radius: 33.75px;        
    background: #dbdbdb;    
    overflow: hidden;
    transition: background 0.5s;
    -webkit-transition: background 0.5s; /* Safari 3.1 to 6.0 */  
  }

  /*Påbyggnad på cirklarnas grundklass - position*/


  @horisontalAlignment: 40px;
  @verticalAlignment: 100px;

  /*Avstånden är 210-90-90-90-210

  Centrera med absolute position:
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; 


 
 /*centreras med left: 50% och sedan dras ett pixelantal bort från varje div för att centrera*/

  #round-button-circle1 { 
    top: 0px;
    left:50%;
    margin-left:-167.5px;
  }

  #round-button-circle2 {
    top: 0px;
    left:50%;
    margin-left:-57.5px;
  }

  #round-button-circle3 {     
    top: 0px;
    left:50%;
    margin-left: -22.5px;
    /*z-index: -1;*/
  }

  #round-button-circle4 { 
    top: 0px;
    left:50%;
    margin-left: 12.5px;
  }

  #round-button-circle5 { 
    top: 0px;
    left:50%;
    margin-left:+122.5px;
  }

  /*Hover för cirklarna, har flera olika för att i framtiden kunna ändra dom var för sig*/
  #round-button-circle1:hover {
    background: #FF9900;
  }
  #round-button-circle2:hover {
    background: #EC6568;
  }
  #round-button-circle3:hover {
    background: #ED712C;
    /*z-index: +1;*/
  }
  #round-button-circle4:hover {
    background: #FFCC00;
  }
  #round-button-circle5:hover {
    background: #FF9900;
  }

  /*--------------------------*/
 

  /* används för att indikera vilken sida som användaren är på.*/
  .currentPageOrange1 {
   background: #FF9900;
  }
  .currentPageOrange2 {
   background: #ED712C;
   /*z-index: +2; */
  }
  .currentPagePink {
   background: #EC6568;
   /*z-index: +2; */
  }
  .currentPageYellow {
   background:  #FFCC00;
   /*z-index: +2; */
  }  

  /*Utseendet på länkarna i cirkel knapparna.*/
  .round-button a {
    display:block;
    float:left;
    width:45px;
    padding-top: 22.5px;
    padding-bottom:22.5px;
    line-height:1em;
    margin-top:-0.5em;
    
    text-align:center;
    color:#fff;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-decoration:none;
  }

/*Linjerna mellan cirklarna*/
  .hline {
    width: 100px;
    height:3px;
    background: #E8E8E8; 
  }

  #hlineLeft { 
    position: absolute;  
    top: 22.5px;
	left:50%;
    margin-left: -125px;
  }

  #hlineRight {
   position: absolute; 
   top: 22.5px;
	left:50%;
    margin-left: 55px;
 }
 
 .col-md-8 {
  position: relative;
  height: 60px;    
}