  /*Stilmall för tidslinjen*/
  .round-button {
    width:25px;
  }

  /*"grund" klassen för cirklarna*/
  .round-button-circle{
    position: absolute; 
    width: 60px;
    height:0;
    padding-bottom: 60px;
    border-radius: 45px;        
    background: #E8E8E8;    
    overflow: hidden;
    transition: background 0.5s;
    -webkit-transition: background 0.5s; /* Safari 3.1 to 6.0 */  
  }

  /*Påbyggnad på cirklarnas grundklass - position*/


  @horisontalAlignment: 40px;
  @verticalAlignment: 100px;

  /*Avstånden är 210-90-90-90-210

  Centrera med absolute position:
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; 

  You can use change the left or right values to move the object
 out of the center, fixed. Using left: 80px; will move the object 
 40px (!) to the right of the center*/

  #round-button-circle1 { 
    top: 0px;
    left: 0px;
  }

  #round-button-circle2 {
    top: 0px;
    left: 130px;
  }

  #round-button-circle3 {     
    top: 0px;
    left: 180px;
    /*z-index: -1;*/
  }

  #round-button-circle4 { 
    top: 0px;
    left: 230px;
  }

  #round-button-circle5 { 
    top: 0px;
    left: 360px;
  }

  /*Hover för cirklarna, har flera olika för att i framtiden kunna ändra dom var för sig*/
  #round-button-circle1:hover {
    background: #FF9900;
  }
  #round-button-circle2:hover {
    background: #EC6568;
  }
  #round-button-circle3:hover {
    background: #ED712C;
    /*z-index: +1;*/
  }
  #round-button-circle4:hover {
    background: #FFCC00;
  }
  #round-button-circle5:hover {
    background: #FF9900;
  }

  /*--------------------------*/
 

  /* används för att indikera vilken sida som användaren är på.*/
  .currentPageOrange1 {
   background: #FF9900;
  }
  .currentPageOrange2 {
   background: #ED712C;
   /*z-index: +2; */
  }
  .currentPagePink {
   background: #EC6568;
   /*z-index: +2; */
  }
  .currentPageYellow {
   background:  #FFCC00;
   /*z-index: +2; */
  }  

  /*Utseendet på länkarna i cirkel knapparna.*/
  .round-button a {
    display:block;
    float:left;
    width:60px;
    padding-top:30px;
    padding-bottom:30px;
    line-height:1em;
    margin-top:-0.5em;
    
    text-align:center;
    color:#fff;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-decoration:none;
  }

/*Linjen mellan cirklarna*/
  .hline {
    width: 95px;
    height:3px;
    background: #E8E8E8; 
  }

  #hlineLeft { 
    position: absolute;  
    top: 30px;
    left: 38px;
  }

  #hlineRight {
   position: absolute; 
   top: 30px;
   left: 288px;
 }
 
 .col-md-8 {
    
}